

<div class="bs-example">
    <nav class="navbar navbar-expand-md  navbar-dark fixed-top" style="background-color: rgb(251, 248, 248); backdrop-filter: blur(2px)">
    <a style="color: #000000;text-decoration: none; text-shadow: 3px 3px 2px grey; padding-left:10px" href="/"><font face = "Droid serif" size =" 5">Online Profiler Application</font><br /></a>  
      <button style="color: #000000" type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span style="color: #000000" class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">

        <div class="navbar-nav" style="padding-left: 633px;">
          <a href="https://www.dswd.gov.ph/">
            <img src="/static/image/DSWDLogo.png" alt="image" width="120" height="36">
          </a>
          &ensp;
          <a href="https://fo7.dswd.gov.ph/">
            <img src="/static/image/DSWDFOVIIInsignia.png" alt="image" width="130" height="36">
          </a>
          &ensp;
          <a href="https://kalahi.dswd.gov.ph/">
            <img src="/static/image/kc.png" alt="image" width="75" height="35">
          </a>
          
        </div>

      </div>

    </nav>

  </div>
