<style type="text/css">
    .sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(251, 248, 248);
        overflow-x: hidden;
        padding-top: 20px;
    }
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 15px;
        color: #818181;
        display: block;
    }
    .sidenav a:hover {
        color: #f1f1f1;
    }
    .main {
        margin-left: 200px;
        padding: 0px 10px;
    }

</style>

<div class="sidenav">
        <a style="
      color: #000000;
      text-shadow: 3px 3px 2px grey;
      padding-left: 30px;
  " href="/" class="nav-item nav-link active">Home</a>

      <a style="color: #000000; text-shadow: 3px 3px 2px grey;" href="/Head/Headclick" class="nav-item nav-link">Head</a>
      <a style="color: #000000; text-shadow: 3px 3px 2px grey;" href="/Takers/Takersclick" class="nav-item nav-link">Takers</a>
      <a style="color: #000000; text-shadow: 3px 3px 2px grey;" href="/adminclick" class="nav-item nav-link">Admin</a>
        <a href="#" class="sidenav-brand">Dashboard</a>
        <a href="#" class="sidenav-brand">Users</a>
        <a href="#" class="sidenav-brand">Knowledge Box</a>
    </div>